<script type="x/template" id="vue-feedback-orderitem-container">
    <section class="feedback-container feedback-orderitem-container">
        <div class="title">
            {{- trans("Feedback::Feedback.orderItemTitle") -}}
        </div>
        <hr>
        <div class="feedback-items">
            <feedback-orderitem-item
                    v-for="order in orderItems"
                    :item=order>
            </feedback-orderitem-item>
        </div>
        <feedback-orderitem-form></feedback-orderitem-form>
    </section>
</script>
