<script type="x/template" id="vue-feedback-orderitem-container">
    <section class="feedback-container feedback-orderitem-container">
        <div class="title">
            {{- trans("Feedback::Feedback.orderItemTitle") -}}
        </div>
        <hr>
        <div class="feedback-items" :style="itemsPerRow">
            <feedback-orderitem-item
                    v-for="order in orderItems"
                    :item=order>
            </feedback-orderitem-item>
        </div>
        <feedback-orderitem-form
            :authenticated-user="authenticatedUser"
            :allow-guest-feedbacks="options.allowGuestFeedbacks"
            :number-of-feedbacks="options.numberOfFeedbacks"
        ></feedback-orderitem-form>
    </section>
</script>
