
<div class="feedback-stars-average feedback-category-view">
    {% if counts.averageValue > 0 or options.showEmptyRatingsInCategoryView %}
    <div class="feedback-stars-background clearfix">
        {% for i in 1..5 %}
            <div class="feedback-star"><i class="fa fa-star"></i></div>
        {% endfor %}
    </div>
    <div class="feedback-stars-overlay-wrap" style="width:{{ ( counts.averageValue * 100 ) / 5 }}%">
        <div class="feedback-stars-overlay clearfix">
            {% for i in 1..5 %}
                <div class="feedback-star"><i class="fa fa-star"></i></div>
            {% endfor %}
        </div>
    </div>
        {% if counts.ratingsCountTotal > 0 and options.showRatingCountInCategoryView %}
            <span class="feedback-count">({{ counts.ratingsCountTotal }})</span>
        {% endif %}
    {% endif %}
</div>
