<script type="x/template" id="vue-feedback-order-container">
    <section class="feedback-container feedback-orderitem-container">
        <div class="title">
            {{- trans("Feedback::Feedback.orderItemTitle") -}}
        </div>
        <hr>
        <div v-if="!isLoading" class="feedback-items row">
            <feedback-order-item
                    v-for="order in pagination"
                    :key="order.variationId"
                    :item=order
                    :numberOfColumns="trueItemsPerRow">
            </feedback-order-item>
        </div>
        <div v-else class="w-100 text-center">
            <p>{{- trans("Feedback::Feedback.loadingItems") -}}</p>
        </div>
        <button class="btn btn-default btn-block feedback-loadmore"
        @click="nextPage()"
        v-if="!isLoading && (this.page * this.options.itemsPerRow * this.options.rowsPerPage < this.orderItems.length)">Weitere Artikel anzeigen</button>
        <feedback-order-form
            :authenticated-user="authenticatedUser"
            :allow-guest-feedbacks="options.allowGuestFeedbacks"
            :number-of-feedbacks="options.numberOfFeedbacks"
            :access-key="accessKey"
            :order-id="orderId"
        ></feedback-order-form>
    </section>
</script>
