<script type="x/template" id="vue-feedback-average">
    <div>
        <div v-if="showEmptyRatings || counts.averageValue > 0" class="feedback-stars-average" :class="size">
            <div class="feedback-stars-background clearfix">
                <div class="feedback-star" v-for="index in 5">
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <div class="feedback-stars-overlay-wrap" :style="{width:fill}">
                <div class="feedback-stars-overlay clearfix">
                    <div class="feedback-star" v-for="index in 5">
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        <span v-if="showRatingsAmount && (showEmptyRatings || counts.averageValue > 0)" :class="size"><a v-on:click.prevent="scrollTo" href="#">(${ counts.ratingsCountTotal })</a></span>
    </div>
</script>
