<script type="x/template" id="vue-feedback-average">
    <div v-if="options.showEmptyRatings.mobile && counts.averageValue > 0">
        <div class="feedback-stars-background clearfix">
            <div class="feedback-star" v-for="index in 5">
                <i class="fa fa-star"></i>
            </div>
        </div>
        <div class="feedback-stars-overlay-wrap" :style="{width:fill}">
            <div class="feedback-stars-overlay clearfix">
                <div class="feedback-star" v-for="index in 5">
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>
    </div>
</script>
