.feedback-container {
    margin-bottom: 40px;

    /* Section title */
    .title {
        font-size: 2rem;
        margin: 20px 0 0 0;
        display: inline-block;
        vertical-align: bottom;
    }

    .minititle {
        margin-top: 40px;
    }

    /* form button didn't show the hand cursor when hovered */
    .btn {
        cursor: pointer;
    }

    .loading-hint {
        text-align: center;
        font-style: italic;
        color: rgba(0, 0, 0, 0.7);
    }

    /* form stars wrapper */
    div.stars {
        width: 165px;
        display: inline-block;
    }

    /* hide the radio inputs */
    input.star {
        display: none;
    }

    /* each label ( star in :before ) */
    label.star {
        float: right;
        height: 40px;
        width: 33px;
        padding: 0px 2px;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 0px;
        color: rgba(0, 0, 0, .1);
        cursor: pointer;
    }

    /* color lower value stars when the radio is checked */
    /* stars are added from 5 to 1 and positioned right to left so that "~" works */
    input.star:checked ~ label.star:before {
        content: '\f005';
        color: orange;
    }

    /* if 5 stars is checked */
    /* input.star-5:checked ~ label.star:before {*/
    /* } */
    /* when hovering the wrapper that holds the stars make them all empty and colorless */
    div.stars:hover label.star:before {
        color: rgba(0, 0, 0, .1);
    }

    /* hovered star ( full and colored ) */
    label.star:hover:before {
        color: orange !important;
    }

    /* stars of lower value on hover ( full and colored ) */
    label.star:hover ~ label.star:before {
        color: orange;
    }

    /* all visible stars ( full but colorless ) */
    label.star:before {
        content: '\f005';
        font-family: FontAwesome;
    }

    /* Ratings bars */
    .feedback-bars {
        margin-bottom: 40px;

        .feedback-bar-wrap {
            margin-bottom: 1px;

            .feedback-bar {
                width: 140px;
                height: 17px;
                display: inline-block;
                vertical-align: middle;
                background: rgba(0, 0, 0, .1);
                overflow: hidden;
                border-radius: 2px;

                .feedback-bar-fill {
                    width: 0%;
                    height: 100%;
                    //background: #008ebd;
                }
            }

            p {
                display: inline-block;
                vertical-align: middle;
                line-height: 17px;
                margin-bottom: 0px;
            }

            .feedback-bar-text-before {

            }

            .feedback-bar-text-after {

            }
        }
    }

    /* Comments */

    .feedback-list {
        .feedback {
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: rgba(0, 0, 0, .1) dotted 1px;

            &.loading {
                pointer-events: none;
                opacity: 0.5;
            }

            .feedback-options {
                float: right;
            }

            .feedback-creator {
                width: 50px;
                float: left;

                .feedback-user-icon {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background: rgba(0, 0, 0, .1);
                    line-height: 50px;
                    text-align: center;
                }

                .feedback-user-name {
                    font-size: 12px;
                    text-align: center;
                    line-height: 1.2em;
                    margin-top: 6px;
                    margin-bottom: 0px;
                }
            }

            .feedback-comment {

                .feedback-comment-title {
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .feedback-rating {
                    color: rgba(0, 0, 0, .1);

                    .full {
                        color: orange;
                    }
                }

                .feedback-attributes-list {
                    p {
                        font-size: 12px;
                        margin: 0px;

                        span {
                            display: inline-block;
                            border-right: rgba(0, 0, 0, .2) solid 1px;
                            margin: 10px 4px 10px 0;
                            padding-right: 7px;
                        }

                        span:last-of-type {
                            border-right: none;
                            margin-right: 0;
                            padding-right: 0;
                        }

                        span.feedback-verified-tag {
                            color: #090;
                            font-weight: bold;
                        }

                        span.fa-stack {
                            color: #090;
                            font-size: 75%;
                            vertical-align: bottom;
                        }

                        span.feedback-attributes {

                        }
                    }
                }

                .feedback-comment-text {
                    margin-bottom: 0px;
                    word-break: break-word;
                }

                .feedback-replies {
                    margin-top: 20px;
                    padding-left: 30px;
                }

                .feedback-add-reply {
                    margin-top: 20px;
                    padding-left: 30px;
                }
            }

            form.feedback-edit {
                padding-left: 20px;
            }
        }
    }

    .feedback-loadmore {
        width: 50%;
        margin: 20px auto;
    }

    .feedback-tooltip-wrapper {
        display: inline-block;

        button {
            pointer-events: none;
        }
    }

    .feedback-info {
        margin: 5px 0 0;

        .feedback-info-segment {
            margin-right: 10px;
            font-size: .875rem;

            .feedback-admin {
                i.fa {
                    color: #008ebd;
                }
            }
        }

        i.fa {
            margin-right: 3px;
        }
    }

    #feedback-error-no-rating {
        display: inline-block;
        vertical-align: bottom;
        padding: 1px 10px;
        margin-left: 10px;
    }

    #feedback-error-no-rating.feedback-error-hidden {
        display: none;
    }

    .feedback-hidden {
        display: none;
    }

    /* Honeypot hiders */
    #feedback-textfield {
        display: none;
    }

    #comment-textfield {
        display: none;
    }
}

.feedback-orderitem-container {
    .feedback-items {
        display: grid;
        //grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;

        margin: 0 4em;

        .feedback-item {
            overflow: hidden;
            text-align: center;

            img {
                width: auto;
                height: 250px;
            }

            a {
                display: block;
                font-size: 1.3em;
            }
        }
    }

    .modal {
        img {
            display: block;
            width: auto;
            height: 200px;
        }

        a {
            display: block;
            font-size: 1.3em;
        }
    }
}

/* Facet extension */
.filter-wrapper #filterCollapse,
.selected-filters {
    [for="option-feedback-5"]::after,
    .filter-feedback-5::before {
        content: "\f005 \f005 \f005 \f005 \f005" !important;
        font-family: FontAwesome;
        letter-spacing: 3px;
    }

    [for="option-feedback-4"]::after,
    .filter-feedback-4::before {
        content: "\f005 \f005 \f005 \f005  \f062" !important;
        font-family: FontAwesome;
        letter-spacing: 3px;
    }

    [for="option-feedback-3"]::after,
    .filter-feedback-3::before {
        content: "\f005 \f005 \f005  \f062" !important;
        font-family: FontAwesome;
        letter-spacing: 3px;
    }

    [for="option-feedback-2"]::after,
    .filter-feedback-2::before {
        content: "\f005 \f005  \f062" !important;
        font-family: FontAwesome;
        letter-spacing: 3px;
    }

    [for="option-feedback-1"]::after,
    .filter-feedback-1::before {
        content: "\f005  \f062" !important;
        font-family: FontAwesome;
        letter-spacing: 3px;
    }
}


/* Feedback average stars */
.feedback-stars-average {
    width: 120px;
    height: 30px;
    margin-left: 10px;
    position: relative;
    display: inline-block;
    vertical-align: bottom;

    /* each individual star */
    .feedback-star {
        height: 30px;
        width: 24px;
        line-height: 32px;
        font-size: 24px;
        float: left;
        text-align: center;
        color: orange;
    }

    /* each wrapper */
    .feedback-stars-background, .feedback-stars-overlay, .feedback-stars-overlay-wrap {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 120px;
        height: 30px;
        overflow: hidden;
    }

    /* background individual stars */
    .feedback-stars-background .feedback-star {
        color: rgba(0, 0, 0, .1);
    }

    /* overlay wrapper that colors the stars */
    .feedback-stars-overlay-wrap {
        width: 0%;
    }
}

.feedback-stars-average.feedback-category-view {
    margin-left: 0px;
    width: 85px;

    .feedback-star {
        height: 20px;
        width: 17px;
        line-height: 22px;
        font-size: 17px;
    }
}

.widget-feedback-average {
    .small-stars {
        width: 85px;
        margin-left: 0px;

        .feedback-star {
            height: 20px;
            width: 17px;
            line-height: 22px;
            font-size: 17px;
        }
    }

    .big-stars {
        width: 120px;
        margin-left: 0px;

        .feedback-star {
            height: 30px;
            width: 24px;
            line-height: 32px;
            font-size: 24px;
        }
    }
}
