<script type="x/template" id="vue-feedback-orderitem-container">
    <section class="feedback-container">
        <div class="title">
            {{- trans("Feedback::Feedback.orderItemTitle") -}}
        </div>
        <hr>
        <div class="feedback-items">
            Lorem ipsum dolor sit amet
        </div>
    </section>
</script>
