<script type="x/template" id="vue-feedback-orderitem-container">
    <section class="feedback-container">
        <div class="title">
            {{- trans("Feedback::Feedback.orderItemTitle") -}}
        </div>
        <hr>
        <div class="feedback-items">
            <div v-for="order in orderItems" class="feedback-item">
                <img :alt="order.name" :src="order.image">
                <a :href="order.url">${ order.name }</a>
            </div>
        </div>
    </section>
</script>
