<div class="feedback-item-average" onclick="scrollToFeedbacks()">

    {% include "Feedback::DataProvider.Feedbacks.Components.FeedbackStarsAverage" %}

    <span class="feedback-item-average-count">
        ({{ counts.ratingsCountTotal }})
    </span>

</div>
