    {% for feedback in feedbacks %}

        {% include 'Feedback::DataProvider.Feedbacks.FeedbackSingle.twig' with {isReply: false} %}

    {% else %}

        {#<div class="alert alert-info">#}
            {#{{ trans("Feedback::Feedback.noReviews") }}#}
        {#</div>#}

    {% endfor %}