<script type="x/template" id="vue-feedback-list">
<div class="feedback-list">

    <feedback-list-entry
            v-for="feedback in feedbacks"
            :key="feedback.id"
            :feedback="feedback"
            :authenticated-user="authenticatedUser"
            :item-attributes="itemAttributes"
            :is-reply="false" @delete="$emit('delete', $event)"
            :show-controls="showControls">
    </feedback-list-entry>

    <a class="btn btn-secondary btn-block feedback-loadmore" v-if="!isLastPage" @click="onLoadMoreClicked()">
        {{ trans("Feedback::Feedback.loadMore") }}
    </a>
</div>
</script>